# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.venv/
venv/
env/
*.egg-info/

# CircuitPython
secrets.py
*.mpy

# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo
